.gray-box {
    font-size: 20px;
    color: black;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container {
    display: flex;
    justify-content: space-between;
    margin-top: -5px;
    padding-left: 10%;
    padding-right: 2%;
}

.center {
    width: 100%;
}

.right {
    padding-right: 2%;
    padding-left: 35px;
    margin-top: 10%;
    width: 40%;
}
.right p{
    display: flex;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
}


/* Set styles for the image */
#image {
    max-width: 100%;
    max-height: 100%;
}


/* Set styles for the buttons */
.center .start-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    width: 850px;
    margin-top: -30px;
    border: 3px solid blue;
    background-color: white;
}

.center .start-button img {
    max-width: 100%;
    max-height: 100%;
}

.button:active {
    margin-left: 5px;
    margin-top: 5px;
}

#prgrs_num_ui {
    color: blue;
}



#timer {
    position: relative;
    margin-top: -25px;
    font-size: 40px;
    font-weight: bold;
    align-items: center;
    padding-left: 8%;
}


#bar {
    position: absolute;
    top: 60%;
    right: 0;
    left: calc(50% - 45px);
    transform: translateY(-50%);
}

.time_blck {
    display: inline-block;
    width: 20px;
    height: 40px;
    margin-left: -15px;
    border: 2px solid blue;
    background-color: orange;
    transition: background-color 1s linear;
}






.right .next-button {
    font-size: 47px;
    display: inline-block;
    padding: 10px;
    width: 350px;
    height: 150px;
    box-sizing: border-box;
    /* padding 크기 포함 */
    font-weight: bold;
    color: white;
    background-color: green;
    border-radius: 30px;
    /* 모서리 둥글게 */
}